<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/tasksComponent.css">
    <title>Task Manager</title>
</head>
<body>
    <div class="task">
        <div class="task-info">
            <h3>Run!</h3>
                <p>4 mins</p>
        </div>
        <div class="task-time">1:21 PM</div>
        <div class="checkbox">✓</div>
    </div>
</body>
                    